* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #1f1f1f;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.container {
    text-align: center;
}

.colors-container {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 30px;
    max-width: 100%;
    width: 300px;
}

.colors-container::before {
    content: '';
    background-color: grey;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 2px;
    width: 100%;
    z-index: -1;
}

.color-change {
    background-color: #EE00EE;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 0%;
    z-index: -1;
    transition: 0.4s ease;
}

.round {
    background-color: #1f1f1f;
    color:#e2e2e2;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid grey;
    transition: 0.4s ease;
}

.round.active {
    border-color: #EE00EE;
}

.btn {
    background-color: #EE00EE;
    color: #fff;
    border: 0;
    border-radius: 6px;
    cursor: pointer;
    padding: 8px 30px;
    margin: 5px;
    font-size: 14px;
}

.btn:active {
    transform: scale(0.98);
}

.btn:focus {
    outline: 0;
}

.btn:disabled {
    background-color: grey;
    cursor: not-allowed;
}
