* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}

.carga {
    width: 100vw;
    height: 100vh;
}

.carga img {
    width: 100vw;
    height: 100vh;
    animation-name: charge;
    animation-duration: 3.2s;
    animation-fill-mode: forwards;
    filter: blur(10px);
}

.carga .count {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 40px;
    color: #fff;
    animation-name: desappear;
    animation-duration: 3.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    opacity: 1;
}

.carga .count .countNumber {
    animation-name: desappear;
    animation-duration: 3.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    opacity: 1;
}


@keyframes charge {
    0% {
        filter: blur(100%);
    }

    100% {
        filter: blur();
    }
}

@keyframes desappear {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}